body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 900;
}

p{
  font-family: "Montserrat";
  color: #000;
}

a:hover{
  text-decoration: none;
}


.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: left;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}
.blog{
  background-color: #f9f1f2;
  border-radius: 10px;
}

img{
  border-radius: 10px;
}
.blog-comm{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.blog-head{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

/* Sections */

.colored-section {
  background-color: #CA9C95;
  color: #E5E4E5;
}

.white-section {
  background-color: #F9E1E0;
}

/* Navigation Bar */

.logo{
  max-width: 120px;
}

.navbar {
  padding: 0 0 4.5rem;
  font-weight: bold;
  color: #fff;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.4rem;
  font-family: "Montserrat";
  font-weight: normal;
  color: #fff;
}

/* Title Section */

/* #title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}
 */

#title .container-fluid {
    padding: 3% 5% 2%;
    text-align: left;
}

/*Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.hangers{
  position: absolute;
  background-size: cover;
  padding: 0% 0% 4%;
  background-position: center;
  left: -1px;
  height: 153px;
  z-index: 13;
  width: 100%;
  object-fit: cover;
}

#box{
  padding: 25px 50px 75px 100px;
}
/* Features */

#features {
  position: relative;
}

.form-row{
      padding-bottom: 18px;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

/* Testimonial */

#testimonials {
  background-color: #897C87;
}

.testimonial-text {
  font-size: 2rem;
  line-height: 1.5;
  color: #000;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: normal;
  font-family: "Montserrat";
}

/* Footer Section */

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title{
    text-align: center
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
