{% load static %}
<!-- Thrift -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Thrift</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://kit.fontawesome.com/40074df83f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
<body>
  <section class="colored-section" id="title">
    <div class="container-fluid pb-0">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a href="/"><img class="logo" src="{% static 'images/logo-f.png' %}" alt="thrift"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item pr-0">
                  <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item pr-0">
                  <a class="nav-link" href="#features">About</a>
              </li>
              <li class="nav-item pr-0">
                  <a class="nav-link" href="{% url 'blog-home' %}">Blog</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item pr-0">
                <a class="nav-link" href="{% url 'ShopHome' %}">Rent</a>
              </li>
              <li class="nav-item pr-0">
                <a class="nav-link" href="{% url 'ResaleHome' %}">Resale</a>
              </li>
              {% endif %}
              <li class="nav-item pr-0">
                <a class="nav-link" href="#footer">Contact</a>
            </li>
            {% if user.is_authenticated %}
            
            <li class="nav-item pr-0">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            <li class="nav-item pr-0">
              <a class="nav-link" style="font-weight: bolder;text-align:center;">Hello, {{user.first_name}}</a>
            </li>
          <!-- <br>
            <div>
              <h3>Hello, {{user.first_name}}</h3>
            </div> -->
            {% else %}
            <li class="nav-item pr-0">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item pr-0">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <!-- <img src="{% static 'images/hangers.png' %}" alt="hangers" class="img-responsive hangers" width="100%" height="80" > -->
  </div>
  </section>

  {% block content %}
  {% endblock %}
  <!-- Footer -->

  <footer class="colored-section" id="footer">
    <div class="container-fluid" style="font-size: 20px;">
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i><br>
      <i class="social-icon fas fa-envelope"> Write to us at thrift@gmail.com</i>
      <p style="color: gray;">© Copyright 2021 Thrift</p>
    </div>
  </footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
