{% extends 'base.html' %}

{% block content %}
<section class="white-section" id="homeblog">
    <div class="container-fluid">
      <div class="row">
        <div class="feature-box col-lg-6">
          <i class="icon fas fa fa-eye fa-4x"></i><br>
          <a class="feature-title" href="{% url 'browse' %}"><button class="btn btn-lg btn-dark" type="button">Browse blogs</button></a>
        </div>
        <div class="feature-box col-lg-6">
          <i class="icon fas fa-share-square fa-4x"></i><br>
          <a class="feature-title" href="{% url 'add' %}"><button class="btn btn-lg btn-dark" type="button">Post a blog</button></a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
