{% extends 'base.html' %}

{% block content %}
<section class="white-section" id="register">
    <div class="container-fluid">
        <div class="row card pb-1 pt-1" style="background-color: #f9f1f2; font-size:20px;"><br>
            <form action="login" method="POST" style="margin: 0 auto;">
                {% csrf_token %}
                <h3>Login here!</h3><br>
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control"><br>
                <button type="submit" class="btn btn-secondary">Login</button>
                <br>
            </form><br>
        </div>
        <div class="row">
            {% for message in messages %}
            <h3>{{message}}</h3>
            {% endfor %}
        </div>
    </div>
  </section>
{% endblock %}