{% extends 'base.html' %}

{% block content %}
<section class="white-section" id="register">
    <div class="container-fluid">
        <div class="row card pb-1 pt-1" style="background-color: #f9f1f2; font-size:20px;"><br>
            <form action="register" method="post" style="margin: 0 auto;">
                <h3>Register here!</h3><br>
                {% csrf_token %}
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" name="first_name" class="form-control">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" name="last_name" class="form-control">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control">
                <!-- <label for="">Do you want to be a renter or a thrifter and resaler?</label><br> -->
                <!-- <select class="form-select" name="usertype">
                    <option selected>---</option>
                    <option value="1">Renter</option>
                    <option value="2">Thrifter and Resaler</option>
                  </select><br> -->
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control">
                <label for="password1" class="form-label">Password</label>
                <input type="password" name="password1" class="form-control">
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" name="password2" class="form-control"><br>
                <button type="submit" class="btn btn-secondary">Register</button><br>
            </form><br>
        </div>
        <div class="row">
            {% for message in messages %}
            <h3>{{message}}</h3>
            {% endfor %}
        </div>
    </div>
  </section>
{% endblock %}