{% extends 'shop/basic.html' %}
{% block title%} Thrift - Rent{% endblock %}
{% block body %}
<section class="white-section">
<div class="container-fluid">
    <div class="col my-4">
        <h2>Put an item up for Rent</h2><br>
        <form method="post" action="/shop/form/">{% csrf_token %}
            <input type="hidden" name="itemsJson" id="itemsJson">
            <input type="hidden" name="amount" id="amount">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputphone">Phone</label>
                    <input type="number" class="form-control" id="phone" name="phone" placeholder="Phone">
                </div>
            </div>
            <div class="form-group">
                <label for="inputprodName">Poduct Name</label>
                <input type="text" class="form-control" id="prodName" name="prodName" placeholder="ProductName">
            </div>
            <div class="form-group">
                <label for="inputsize">Size</label>
                <input type="text" class="form-control" id="size" name="size" placeholder="Size">
            </div>
            <div class="form-group">
                <label for="inputduration">Duration</label>
                <input type="text" class="form-control" id="duration" name="duration" placeholder="Duration of rent">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputcategory">Category</label>
                    <input type="text" class="form-control" id="category" name="category" placeholder="category">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputprice">Price</label>
                    <input type="text" class="form-control" id="price" name="price"  placeholder="Rs 100">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputdesc">Description</label>
                    <input type="text" class="form-control" id="desc" name="desc">
                </div>
            </div>
            <div class="form-group">
                <label for="inputdate">Date</label>
                <input type="text" class="form-control" id="date" name="date" placeholder="yyyy-mm-dd">
            </div>
            <div class="form-group">
            <label for="img">Select image:</label>
            <input type="file" name="img" accept="image/*">
            </div>
            <button type="submit" class="btn btn-secondary">Upload</button>
        </form>
    </div>
</div>
</section>
{% endblock %}
