{% extends 'shop/basic.html' %}

{% block title%} {{product.product_name}} - My Awesome Cart{% endblock %}
{% block body %}
<section class="white-section">
<div class="container-fluid">
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
        <div class="row">
            <img src="/media/{{product.image}}" width="300px" height="300px">
        </div>
        <br>
        <div class="row">
            <button class="btn btn-secondary mx-3">Buy Now</button>
            <button class="btn btn-secondary">Add To Cart</button>
        </div>
        </div>
        <div class="col-md-8">
            <h5>{{product.product_name}} {{product.size}}</h5>
            <p><b>Price : Rs.{{product.price}} </b></p>
            <p>Duration : {{product.duration}}</p>
            <p>Caution Money : {{product.caution_money}}</p>
            <p>Description : {{product.desc}}</p>
        </div>
    </div>
</div>
</div>
</section>



{% endblock %}